a
{
 color:#315c7f;	
 text-decoration:none;
}
p{margin: 5px 0;}
h1
{
 color:#315c7f;	
 font-size:18px;
 text-align:center;
 line-height:30px;
}

.ajaxloader{
	margin-right:75px;
	margin-top:20px;
}

.pageContainer
{
 width:960px;
 height:510px;	
 margin:45px auto 0px auto;
 font-size:16px;
 font-family:Arial, Helvetica, sans-serif;
}

.tabRow{
	margin-left:25px;
	margin-top:-30px;
}

.tabRow a
{
  	background:#303030;
    border: medium none;
    color: white;
    font-size: 16px;
    margin: 0 5px 0 0;
    padding:6px 15px 6px 15px;
    text-align: center;
	-webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
	behavior: url(/ars/dashboard/css/css3pie/PIE.htc);
}

.tabRow a.active
{
    background: none repeat scroll 0 0 #E7E7E7 !important;
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    border-top: 1px solid #C0C0C0;
    color: #252525;
}
.pageContent
{
	margin-top:7px;
 	clear:both;
 	padding:10px;
	background:#e7e7e7;
 	height:100%;
	-moz-box-shadow: 0px 0px 20px #888;
	-webkit-box-shadow: 0px 0px 20px #888;
	box-shadow: 0px 0px 20px #888;
 	-webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
	behavior: url(/ars/dashboard/css/css3pie/PIE.htc);
}

#title{
	text-align:center;
	float:left;
	width:730px;
	margin-top:2px;
}

.leftCol
{

 width:215px;
 height:100%;	
 float:left;
}

#dd_slideDecks
{
 padding:5px;
 width:200px;
 float:left;
 margin-left:10px;
 margin-top:-3px;
}

#title-bar{
		font-family:Times New Roman,Times;
	font-weight:normal !important;
	color:#252525;
	height:24px;
	padding:8px 0px;
	font-size:23px;
	text-shadow:1px 1px 0px #e6e6e6;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(151,151,151)),
	    color-stop(1, rgb(235,235,235))
	);
		background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(151,151,151) 0%,
	    rgb(235,235,235) 100%
	);
    -pie-background: no-repeat, linear-gradient(#ebebeb, #979797); /*PIE*/
	-webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
	behavior: url(/ars/dashboard/css/css3pie/PIE.htc);
}

.middleCol
{
	 float:left;
	 height:530px;
}
.rightCol
{
	height:530px;
	float:left;
	
}
.middleCol, .leftCol_Q, .rightCol{
	 width:310px;
}
.leftCol_Q
{
 margin:5px 10px 0 0 ;
 height:100%;	
 float:left;
}
.selectTitle
{
 margin-top:5px;
 text-align:center;
}

.sideSelect
{
overflow-y:scroll;
 height:470px;
 width:100%; 	
}
.avalibleSlides li input
{
  margin-top:30px;
}
.avalibleSlides li label
{
  font-size:24px;
}
.avalibleSlides li img
{
   vertical-align:middle;
   float:right;
}
.avalibleSlides li
{
  clear:both;	
  height:74px;
  padding:10px;
  	text-shadow:1px 1px 0px #e6e6e6;
	background-image: url(/ars/dashboard/img/slideTab.jpg);
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(170,170,170)),
	    color-stop(1, rgb(220,220,220))
	);
		background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(170,170,170) 0%,
	    rgb(220,220,220) 100%
	);
    -pie-background: no-repeat, linear-gradient(#dcdcdc, #aaaaaa); /*PIE*/
	-webkit-border-radius: 20px 0px 0px 20px;
    -moz-border-radius: 20px 0px 0px 20px;
    border-radius: 20px 0px 0px 20px;
}

.availableSlidesIMG{
	max-height:75px;
	max-width:150px;
}

.availableSlidesIMGwrap{
	width:100%;
	text-align:center;
}

.selectedSlideDisplay
{
 vertical-align:middle;
  float:left;
  height:449px;
  width:704px;
  text-align:center;
  padding:10px;
  background:#FFF;
  -webkit-border-radius: 0px 0px 10px 0px;
    -moz-border-radius: 0px 0px 10px 0px;
    border-radius: 0px 0px 10px 0px;
	behavior: url(/ars/dashboard/css/css3pie/PIE.htc);
}

.selectedSlideDisplay img{
	margin:auto 0px;
}

.selectedSlide{
	max-height:449px;
	max-width:704px;
	-moz-box-shadow: 0px 0px 20px #888;
	-webkit-box-shadow: 0px 0px 20px #888;
}

.selectedSlideTitle
{
 text-align:center;
 font-size:20px;
  float:left;
  height:50px;
  width:529px;
  
}
.opaque {
	 -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; 
	filter: alpha(opacity=50);
	opacity:.5;
	
}

/* Login */

#kenny{
	font-size:18px;
	padding:5px;
	width:190px;
	margin:60px auto 0px auto;
}

#kenny input{
	padding:10px;
	font-size:16px;
	margin:12px 0px;
}

/* Manage Activities */


.whiter{
	background:#FFF;
}


.preButtons{
	width:150px;
	text-align:center;
}

.accesstd{
	text-align:center;
	font-weight:bold;
	width:45px;
}

.naMe{
	width:552px;
	padding-left:15px !important;
}


/* questions page */

.questionOptions
{
 margin-bottom: 25px;
 padding:10px;
}

.questionOptions div{
	font-size: 12px;
	padding:5px;
}

.questionContent
{
 padding : 10px;
 text-align:center;
}

.questionTitle{
	margin:0px 10px;
	width:590px;
	text-align:center;
}

.curSlide{
	background:#FFF;
	height:469px;
	text-align:center;
	vertical-align:middle;
	-webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
	behavior: url(/ars/dashboard/css/css3pie/PIE.htc);
}

.Q-curSlideIMG{
	max-width:280px;
	max-height:460px;
	margin-top:20px;
	-moz-box-shadow: 0px 0px 20px #888;
	-webkit-box-shadow: 0px 0px 20px #888;
}

.slideNumber{
	float:right;
	margin-top:-22px;
	padding-right:0px 10px;
	width:310px;
	text-align:center;
}

.resultsBtn span{
	margin-top:-3px;
}

.resultsBtn span.one
{
font-size:8px;
margin-right:-3px;
}
.resultsBtn span.two
{
font-size:10px;
margin-right:-3px;
}
.resultsBtn span.three
{
font-size:12px;
}

#Q-btns{
	position:absolute;
	margin-top:380px;
	margin-left:320px;
}

#Q-btns div{
	width:250px;
	margin-left:10px;
}

.s-controls
{
	margin:-60px auto 0px auto;
	padding:5px 0px;
	text-align:center;	
	background:#aaaaaa;
}

.s-controls a{
	margin:0px 10px;
}

.s-controls select{
	font-size:13px;
}

.numSlides{
	background:#303030;
	border:none;
    color: white;
    font-size: 18px;
	font-weight:bold;
    padding: 10px 15px;
    text-align: center;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
	behavior: url(/ars/dashboard/css/css3pie/PIE.htc);
}

.avalibleQuestions li{
  clear:both;	
  padding:20px;
  	text-shadow:1px 1px 0px #e6e6e6;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(170,170,170)),
	    color-stop(1, rgb(220,220,220))
	);
		background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(170,170,170) 0%,
	    rgb(220,220,220) 100%
	);
    -pie-background: no-repeat, linear-gradient(#dcdcdc, #aaaaaa); /*PIE*/
	-webkit-border-radius: 20px 0px 0px 20px;
    -moz-border-radius: 20px 0px 0px 20px;
    border-radius: 20px 0px 0px 20px;
	behavior: url(/ars/dashboard/css/css3pie/PIE.htc);
}

/* feedback page */

.feedback-p{
	text-align:left;
	float:left;
	width:286px;
	padding:5px;
	margin:5px;
	 text-shadow:1px 1px 0px #e6e6e6;
	background-image: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0, rgb(170,170,170)),
	    color-stop(1, rgb(220,220,220))
	);
		background-image: -moz-linear-gradient(
	    center bottom,
	    rgb(170,170,170) 0%,
	    rgb(220,220,220) 100%
	);
    -pie-background: no-repeat, linear-gradient(#dcdcdc, #aaaaaa); /*PIE*/
	-webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
	behavior: url(/ars/dashboard/css/css3pie/PIE.htc);
	
}

.feedback-p input{
	clear:both;
	margin:5px;
}

.feedback-p div{
	float:right;
	width:260px;
}

/* polling page */

.pollingOptions
{
 padding:10px;
  font-size:24px;
 line-height:20px;
 margin:20px auto;
 width:400px;
}

.pollingOptions div{
	margin:10px;
	padding:10px;
	background:#FFFFFF;
	-webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
	behavior: url(/ars/dashboard/css/css3pie/PIE.htc);
}

.pollingOptions input{
	margin-right:15px;
}

.pollingContent
{
 padding : 10px;
 font-size:24px;
 line-height:20px;
 font-family:times;
 text-align:center;
 margin-top:15px;
}
.buttonBar
{
	margin-top:-40px;	
}
.buttonBar .resultsBtn , .buttonBar .showPollBtn,
.buttonBar .nextBtn , .buttonBar .prevBtn
{
	float:right;
margin:0px 10px;	
cursor:pointer;
}

.showPollBtn{
	margin-bottom:5px;
}

/* results */
#container{
	background:#FFFFFF;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
	behavior: url(/ars/dashboard/css/css3pie/PIE.htc);
}

.graph
{
	width:500px;	
	margin:20px auto;
	padding:10px;
}
.graph div
{
	vertical-align:top;
	height:20px;	
	margin-top:10px;
}
.graph div.lbl
{
	background-color:white;
	color:black;
	line-height:20px;
	height:20px;
	width:10px;
}

.graph .title
{
	text-align:center;
	font-size:12px;	
}
.graph table
{
	
	width:100%;	
}
.graph table td
{
	padding:3px;
	text-align:center;
	vertical-align:bottom;
}

.c0{background-color:#00008B;}
.c1{background-color:#00008B;}
.c2{background-color:#00008B;}
.c3{background-color:#00008B;}
.c4{background-color:#00008B;}
.c5{background-color:#00008B;}
.c6{background-color:#00008B;}
.c7{background-color:#00008B;}
.c8{background-color:#00008B;}
.c9{background-color:#00008B;}
.ccorrect{background-color:green;}
#pre_post_options{ font-size: 14px; padding: 5px; margin: 10px; }
#number_polled{ font-size: 12px; background-color: #ff2a1b; padding: 5px; margin: 10px; }
#options{ height: 150px; overflow-y: scroll; }
